meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
title Event Client

script(src='/external/jquery/jquery-3.3.1.min.js')
script(src='/external/bootstrap/bootstrap.min.js')
script(src='/external/inspinia/inspinia.js')