link(rel='stylesheet', href='/external/bootstrap/bootstrap.min.css')
link(rel='stylesheet', href='/external/inspinia/style.css')
link(rel='stylesheet', href='/external/inspinia/animate.css')
link(rel='stylesheet', href='/external/inspinia/font-awesome/css/font-awesome.css')